Dissertation_Final.aux
Dissertation_Final.bbl
Dissertation_Final.blg
Dissertation_Final.bcf
Dissertation_Final.fdb_latexmk
Dissertation_Final.fls
Dissertation_Final.glg
Dissertation_Final.gls
Dissertation_Final.glo
Dissertation_Final.ist
Dissertation_Final.lof
Dissertation_Final.log
Dissertation_Final.lol
Dissertation_Final.out
Dissertation_Final.pdf
Dissertation_Final.run.xml
Dissertation_Final.synctex.gz
Dissertation_Final.toc
*.bib.bak
*.bib.sav
